{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Hotel La Casserai</h4>
        <p>Welkom op de site van ons hotel genaamd La Casserai, de perfecte plaats voor u om één of meerdere avond(en) door te brengen</p>
        <hr>
        <p class="mb-0">We zijn elke dag van 09:00 tot en met 20:00 bereikbaar via het telefoon nummer: 070 914 56 74</p>

    </div>
    <img src="C:\xampp\htdocs\casserai1\afbeeldingen\ingang.jpg" class="img-fluid" alt="Responsive image">


{% endblock %}
