{% extends 'base.html.twig' %}

{% block title %}Hello KamerController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Hotel La Casserai</h4>
    <p>Op deze pagina laten we u kennis maken met alle hotelkamers die wij u aanbieden.</p>
    <hr>

    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Familiekamer 1</h5>
                <p class="card-text">Dit is de perfecte kamer voor 4 personen. Deze kamer bevat 4 bedden, 1 toilet, een douche en een kleine woonkamer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Luxe kamer 1</h5>
                <p class="card-text">Dit is onze luxe kamer, deze kamer bevat 2 bedden, een sauna, een jacuzzi, een kleine woonkamer, een inloopdouche en 1 toilet.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Normale kamer 1</h5>
                <p class="card-text">Dit is onze normale kamer, het bevat een tweepersoonsbed, een douche en een toilet</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>

    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Familiekamer 2</h5>
                <p class="card-text">Dit is de perfecte kamer voor 4 personen. Deze kamer bevat 4 bedden, 1 toilet, een douche en een kleine woonkamer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Luxe kamer 2</h5>
                <p class="card-text">Dit is onze luxe kamer, deze kamer bevat 2 bedden, een sauna, een jacuzzi, een kleine woonkamer, een inloopdouche en 1 toilet.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Normale kamer 2</h5>
                <p class="card-text">Dit is onze normale kamer, het bevat een tweepersoonsbed, een douche en een toilet</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>

    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Familiekamer 3</h5>
                <p class="card-text">Dit is de perfecte kamer voor 4 personen. Deze kamer bevat 4 bedden, 1 toilet, een douche en een kleine woonkamer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Luxe kamer 3</h5>
                <p class="card-text">Dit is onze luxe kamer, deze kamer bevat 2 bedden, een sauna, een jacuzzi, een kleine woonkamer, een inloopdouche en 1 toilet.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Normale kamer 3</h5>
                <p class="card-text">Dit is onze normale kamer, het bevat een tweepersoonsbed, een douche en een toilet</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>


{% endblock %}
